.wrapper {
    width: 512px;
    padding: 24px;
    background-color: white;
    text-align: center;
    border-radius: 2px;

    h5 {
        font-size: 2.2rem;
    }
    h6 {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .title {
        margin-bottom: 10px;

        .icon {
            display: block;
            width: 40px;
            height: 40px;
            margin: 16px auto;
            border-radius: 50%;
            font-size: 3rem;
            color: white;
            background-color: rgb(23, 43, 77);
        }
    }
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%);
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.main-form {
    .form-group {
        text-align: left;
        margin: 10px 0;

        .form-control {
            display: flex;
            border: 1px solid #5e72e4;
            border-radius: 10px;
            margin: 5px 0;

            span {
                padding: 10px 20px;
            }

            input {
                flex: 1;
                padding: 0 10px;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                box-sizing: unset;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                font-size: 2rem;
                &:focus {
                    border: 4px;
                    box-shadow: 0 0 0 0.25rem rgb(94 114 228 / 40%);
                }
            }
        }
    }
    .btn {
        width: 100%;
        button {
            width: 100%;
            padding: 14px 0;
            border-radius: 10px;
            font-size: 1.8rem;
            color: white;
            background-color: rgb(59, 89, 152);
        }
    }
}

.btn.active {
    margin: 30px 0;
    button {
        background-color: rgb(23, 43, 77);
    }
}

.btn.toggel {
    margin-top: 40px;

    p {
        padding: 5px 0;
        font-size: 1.6rem;
    }
}
