a {
  text-decoration: none !important;
}

.nav-item {
  color: #2eb0ac;
  font-weight: 700;
  font-size: 1.6rem;

  &:hover {
    transform: scale(1.5);
  }

  &:active {
    color: red;
  }



}

.btn-logout{
  font-size: 1.6rem;
  cursor: pointer;
}
