.w-input {
    width: 7rem !important;
}

.w-icon {
    color: #e50a0a;
}

.images-upload {
    width: 100px;
    height: 100px;
   
    position: relative;

    input{
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    span{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 100px;
      text-align: center;
      z-index: 0;
    }

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}
