:root {
    --text-color: rgb(23, 43, 77);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html {
    font-size: 62.5%;
} */

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
